.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 25%;
}
.searchform {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
li {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
a:link {
    text-decoration: none;
    border: none;
    padding: 10px;
    margin: 10px;
    height: 18px;
    width: 150px;
    background-color: lightgray;
    color: darkslategray;
}
a:visited {
    text-decoration: none;
    border: 1px;
    padding: 10px;
    margin: 10px;
    height: 18px;
    width: 150px;
    background-color: lightgray;
    color: darkslategray;
}
a:hover {
    border-color: black
}
a:focus {
    border-color: black
}
input {
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid #eaeaea;
    outline: none;
}
input:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9;
}
input:focus {
    border-color: #4d90fe;
}
input[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 0 16px;
    height: 36px;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222
}
